div.osc_category {
   width: 200px;
   float: left;
   padding-top: 30px;
}

div.osc_category img.osc_category {
   clear: both;
}

div.osc_category h4 {
   margin: 0px;
}


div.osc_prod_teaser {
   clear: both;
   border-top: solid 1px #C0C0C0;
}

div.osc_prod_teaser img.osc_product {
   float: left;
}

div.osc_end {
   clear: both;
}